.result-list {
  position: absolute;
  z-index: 200;
  top: 30vh;
  width: 80vw;
  left: 10vw;
}

.result {
  margin-bottom: 1em;
  cursor: pointer;

  img {
    width: 7em;
    margin-right: 1em;
    vertical-align: middle;
  }
}
