.video-placeholder {
  display: flex;
  background-color: #f2f2f2;
}

.video-name {
  padding: 10px;
  flex-grow: 1;
}

.video-voting {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
  width: 50px;
  flex-shrink: 0;
}
