.video-wrapper,
.video-container {
  position: relative;
}

.video-expanded.video-present {
  .video-wrapper {
    position: relative;
    height: 0;
    padding-top: 25px;
    padding-bottom: 56.25%; /* 16:9 */
  }
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-state-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.video-title {
  bottom: 0;
  display: flex;
  width: 100%;
  min-height: 50px;
  padding: 0 50px 0 0;
  font-size: 17px;
  background-color: #f2f2f2;
  align-items: center;
  h3 {
    padding: 10px 0 10px 20px;
  }
}

.boo {
  width: 50px;
  height: 50px;
  cursor: pointer;
  flex-shrink: 0;
  align-self: flex-start;
  animation: jiggle 0.2s infinite;

  &.skip-1 {
    animation: none;
  }

  &.skip-2 {
    animation-duration: 0.7s;
  }

  &.skip-3 {
    animation-duration: 0.4s;
  }

  &.skip-4 {
    animation-duration: 0.2s;
  }

  &.skip-5 {
    animation-duration: 0.1s;
  }
}

@keyframes jiggle {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
}
