.main-column {
  width: calc(67% - 10px);
  margin: 5px;

  > * + * {
    margin-top: 40px;
  }
}

.side-column {
  width: calc(33% - 10px);
  margin: 5px;

  img {
    max-width: 100%;
  }
}

.reactions {
  .reactions-modal {
    display: none;
  }

  &.open {
    .reactions-modal {
      display: block;
      z-index: 10000;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &:before {
        position: fixed;
        display: block;
        content: ' ';
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0.93;
      }
    }

    .reactions-container {
      display: flex;
      flex-flow: row wrap;
      margin: -5px;
      position: absolute;
      top: 10%;
      left: 5%;
      width: 90%;
    }
  }
}

.reaction-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-flow: row wrap;
}

.reaction-list-item {
  position: relative;
  width: 100%;
  margin-bottom: 4%;

  @media (min-width: 650px) {
    width: 47%;
  }

  @media (min-width: 950px) {
    width: 30%;
  }

  @media (min-width: 1400px) {
    width: 22%;
  }

  @media (min-width: 1900px) {
    width: 18%;
  }

  &:after {
    content: ' ';
    padding-bottom: 120%;
    display: block;
  }
}

.reaction-list {
  .video-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
  }
}

.video-frame {
  canvas {
    object-fit: contain;
    width: 100%;
  }

  video {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

.reactions-container {
  background-color: #f2f2f2;
  padding: 20px;
}

.webcam {
  width: 200px;

  video {
    width: 100%;
  }

  &.offline {
    video {
      display: none;
    }
  }

  &::after {
    content: ' ';
    display: block;
    visibility: hidden;
    background-color: red;
    width: 0;
    height: 2px;
    transition: width 2.5s;
    transition-timing-function: linear;
  }

  &.recording {
    &::after {
      visibility: visible;
      width: 100%;
    }
  }
}

.recorder-controls {
  display: flex;

  button {
    flex: 1;
    margin: 0 10px;
  }
}

.frame-selector {
  list-style: none;

  li {
    display: inline-block;
    width: 49%;
    height: 0;
    margin: 0;
    cursor: pointer;
    padding-bottom: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: white;
    margin-bottom: 2%;

    &:nth-child(odd) {
      margin-right: 2%;
    }

    &.selected {
      background-color: #999;
    }
  }
}

.reaction-button {
  background-color: #2f7791;
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 4%;

  & > svg {
    object-fit: contain;
    width: 100%;
  }
}
