.reactions {
  display: flex;
  width: 100%;
  justify-content: center;

  video {
    flex: 1 0 0;
    width: 0;
    transition: all .3s;

    &.new-reaction {
      transform: translateY(-20px);
    }
  }
}
