.reactions {
  width: 100%;
}

.video-frame {
  display: inline-block;
  width: 200px;
  canvas {
    width: 100%;
  }

  video {
    display: none;
  }
}

.webcam {
  width: 200px;

  video {
    width: 100%;
  }

  &.offline {
    video {
      display: none;
    }
  }

  &::after {
    content: ' ';
    display: block;
    visibility: hidden;
    background-color: red;
    width: 0;
    height: 2px;
    transition: width 2.5s;
    transition-timing-function: linear;
  }

  &.recording {
    &::after {
      visibility: visible;
      width: 100%;
    }
  }
}

.recorder-controls {
  display: flex;

  button {
    flex: 1;
    margin: 0 10px;
  }
}

.frame-selector {
  list-style: none;

  li {
    display: inline-block;
    width: 100px;
    margin: 0 10px;
    cursor: pointer;

    img {
      width: 100%;
    }
  }
}
